@import "tailwindcss";
@import './styles/fonts.css';

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-aileron {
  font-family: 'Aileron',sans-serif ;
  
}
.font-upright {
  font-family: 'Cormorant Upright',serif ;
}
.font-infant {
  font-family: 'Cormorant Infant',serif ;
}

.font-alata{
  font-family: 'Alata',sans-serif;
}
.font-corinthia{
  font-family: 'Corinthia',sans-serif;
}

.custom-text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.white-text-shadow {
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.3);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Aileron';
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Aileron',sans-serif;
  }
  
  .main-content {
    flex: 1;
  }


 @media (max-width: 767px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.50rem !important;
    color: #9C0300 !important;
  }
}

  @media (min-width: 768px) {
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 1.75rem;
      color: #9C0300 !important;
    }
  }

  @media (min-width: 1024px) {
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 2.25rem;
      color: #9C0300 !important;
    }
  }
